# TAREA 1: ANALISIS

<a id = "objetivos"></a>
# Objetivos del notebook
[Volver al índice](#toc)

En este Notebook partimos de los dataset proporcionados para el desarrollo del RollPlay EasyMoney. El objetivo es analizar y explorar desde una perspectiva estadística y de negocio los datos con los que contamos, para obtener un visión adecuada de nuestro business y en un furuto poder afrontar las tareas que se nos encomiendan. El resultado directo de esta tarea es la obtención de una herramienta de BI (Dashboard) que servira para explorar de forma inteactiva todas las visulizaciones i información facilitada a continuación.

<a id = "import_modules"></a>
# Importación de las principales librerías
[Volver al índice](#toc)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import math
import datetime
import pickle

from google.colab import drive

<a id = "import_data"></a>
# Importación de los datos
[Volver al índice](#toc)

In [ ]:
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
df_total = pd.read_csv("gdrive/MyDrive/EASY_MONEY_NUCLIO/data/total_df.csv", sep=";", index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [ ]:
products_df = pd.read_csv("gdrive/MyDrive/EASY_MONEY_NUCLIO/data/products_df.csv", index_col=0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [ ]:
df_total["pk_partition"] = pd.to_datetime(df_total["pk_partition"])

In [ ]:
df_total.sort_values(by="pk_partition", ascending=False, inplace=True)

<a id = "metrics"></a>
# Métricas
[Volver al índice](#toc)

In [ ]:
products_df.columns

Index(['pk_cid', 'pk_partition', 'short_term_deposit', 'loans', 'mortgage',
       'funds', 'securities', 'long_term_deposit', 'em_account_pp',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'emc_account', 'debit_card', 'em_account_p', 'em_acount'],
      dtype='object')

In [ ]:
products = products_df.columns.tolist()
for pk in ["pk_cid", "pk_partition"]:
  products.remove(pk)
products

['short_term_deposit',
 'loans',
 'mortgage',
 'funds',
 'securities',
 'long_term_deposit',
 'em_account_pp',
 'credit_card',
 'payroll',
 'pension_plan',
 'payroll_account',
 'emc_account',
 'debit_card',
 'em_account_p',
 'em_acount']


<a id = "metrica1"></a>
# Clientes con Producto
[Volver al índice](#toc)

Consideramos cliente a pk_cid con al menos un producto activo en la última patición. Por tanto observamos que nuestro saldo actual de clientes fidelizados es de 331.588, a 28.05.2019 (último registro)

In [ ]:
df_clients_with_product = df_total.loc[df_total[products].sum(axis=1) >= 1, :].groupby(by="pk_partition").agg({"pk_cid": "nunique"})

In [ ]:
df_clients_with_product

              pk_cid
pk_partition
2018-01-28    235070
2018-02-28    238022
2018-03-28    240738
2018-04-28    242917
2018-05-28    245395
2018-06-28    247399
2018-07-28    258830
2018-08-28    271784
2018-09-28    288105
2018-10-28    305425
2018-11-28    314293
2018-12-28    318036
2019-01-28    321964
2019-02-28    324558
2019-03-28    327686
2019-04-28    329607
2019-05-28    331588

<a id = "metrica2"></a>
#  Evolución clientes
[Volver al índice](#toc)

Revisamos cuál ha sido la evolución mensual de los clientes en cada partición respecto al mes anterior. Revisamos la evolución del total de los pk_cid en base de datos y en detalle de los pk_cid con productos activos

In [ ]:
df_clientes = df_total.copy(deep=True)

In [ ]:
df_clientes.head()

          pk_cid pk_partition  short_term_deposit  ...  age  deceased  salary
5962923  1550586   2019-05-28                   0  ...   37         N     nan
5667597  1489272   2019-05-28                   0  ...   23         N     nan
5667586  1489286   2019-05-28                   0  ...   43         N     nan
5667587  1489285   2019-05-28                   0  ...   61         N     nan
5667588  1489283   2019-05-28                   0  ...   56         N     nan

[5 rows x 27 columns]

In [ ]:
df_clientes[df_clientes[products].sum(axis=1) >= 1]

          pk_cid pk_partition  short_term_deposit  ...  age  deceased    salary
5962923  1550586   2019-05-28                   0  ...   37         N       nan
5667597  1489272   2019-05-28                   0  ...   23         N       nan
5667586  1489286   2019-05-28                   0  ...   43         N       nan
5667588  1489283   2019-05-28                   0  ...   56         N       nan
5667590  1489281   2019-05-28                   0  ...   38         N       nan
...          ...          ...                 ...  ...  ...       ...       ...
159659   1329766   2018-01-28                   0  ...   21         N       nan
159658   1329744   2018-01-28                   0  ...   35         N 55,577.37
159657   1329767   2018-01-28                   0  ...   24         N       nan
159656   1329785   2018-01-28                   0  ...   21         N 66,608.43
0        1375586   2018-01-28                   0  ...   35         N 87,218.10

[4841417 rows x 27 columns]

In [ ]:
df_clientes.loc[df_clientes[products].sum(axis=1) >= 1, :]

          pk_cid pk_partition  short_term_deposit  ...  age  deceased    salary
5962923  1550586   2019-05-28                   0  ...   37         N       nan
5667597  1489272   2019-05-28                   0  ...   23         N       nan
5667586  1489286   2019-05-28                   0  ...   43         N       nan
5667588  1489283   2019-05-28                   0  ...   56         N       nan
5667590  1489281   2019-05-28                   0  ...   38         N       nan
...          ...          ...                 ...  ...  ...       ...       ...
159659   1329766   2018-01-28                   0  ...   21         N       nan
159658   1329744   2018-01-28                   0  ...   35         N 55,577.37
159657   1329767   2018-01-28                   0  ...   24         N       nan
159656   1329785   2018-01-28                   0  ...   21         N 66,608.43
0        1375586   2018-01-28                   0  ...   35         N 87,218.10

[4841417 rows x 27 columns]

In [ ]:
df_numero_clientes_con_producto = df_clientes[df_clientes[products].sum(axis=1) >= 1].groupby(by=["pk_partition"])[["pk_cid"]].count().sort_values(by="pk_partition", ascending=False)

<a id = "metrica3"></a>
#  Evolución Clientes con Producto
[Volver al índice](#toc)

In [ ]:
df_numero_clientes_con_producto

              pk_cid
pk_partition
2019-05-28    331588
2019-04-28    329607
2019-03-28    327686
2019-02-28    324558
2019-01-28    321964
2018-12-28    318036
2018-11-28    314293
2018-10-28    305425
2018-09-28    288105
2018-08-28    271784
2018-07-28    258830
2018-06-28    247399
2018-05-28    245395
2018-04-28    242917
2018-03-28    240738
2018-02-28    238022
2018-01-28    235070

Se observa a priori una evolución positiva a lo largo de las particiones con un saldo inicial de 235.070 en la primera partición llegando a los 331.588 actuales.

In [ ]:
df_numero_clientes_con_producto["ant"] = df_numero_clientes_con_producto["pk_cid"].shift(-1)
df_numero_clientes_con_producto["dif"] = df_numero_clientes_con_producto["pk_cid"] - df_numero_clientes_con_producto["ant"]

<a id = "metrica4"></a>
#  Evolución Conversión
[Volver al índice](#toc)

In [ ]:
df_numero_clientes_con_producto

              pk_cid        ant       dif
pk_partition
2019-05-28    331588 329,607.00  1,981.00
2019-04-28    329607 327,686.00  1,921.00
2019-03-28    327686 324,558.00  3,128.00
2019-02-28    324558 321,964.00  2,594.00
2019-01-28    321964 318,036.00  3,928.00
2018-12-28    318036 314,293.00  3,743.00
2018-11-28    314293 305,425.00  8,868.00
2018-10-28    305425 288,105.00 17,320.00
2018-09-28    288105 271,784.00 16,321.00
2018-08-28    271784 258,830.00 12,954.00
2018-07-28    258830 247,399.00 11,431.00
2018-06-28    247399 245,395.00  2,004.00
2018-05-28    245395 242,917.00  2,478.00
2018-04-28    242917 240,738.00  2,179.00
2018-03-28    240738 238,022.00  2,716.00
2018-02-28    238022 235,070.00  2,952.00
2018-01-28    235070        nan       nan

En la tabla superior observamos el crecimiento partición a partición, siendo la columna diferencia el diferencial absoluto entre la partición actual y la inmediatamente anterior. Se observa una ralentización en la capacidad de la empresa en aumentar el número de productos por cliente. Con picos de crecimiento destacables en las particiones de julio a noviembre, especialmente en Octubre de 2018. Las dos últimas particiones obtenemos el ritmo de crecimiento más bajo desde que hay registros.

In [ ]:
df_numero_clientes = df_clientes.groupby(by=["pk_partition"])[["pk_cid"]].count().sort_values(by="pk_partition", ascending=False)

In [ ]:
df_evolucion_clientes=pd.concat([df_numero_clientes, df_numero_clientes_con_producto], axis=1)

In [ ]:
df_evolucion_clientes.head()

              pk_cid  pk_cid        ant      dif
pk_partition
2019-05-28    442995  331588 329,607.00 1,981.00
2019-04-28    439627  329607 327,686.00 1,921.00
2019-03-28    436183  327686 324,558.00 3,128.00
2019-02-28    431727  324558 321,964.00 2,594.00
2019-01-28    426875  321964 318,036.00 3,928.00

In [ ]:
df_evolucion_clientes.columns = ["total", "con_producto", "siguiente", "dif"]

In [ ]:
df_evolucion_clientes["porcentaje"] = round(df_evolucion_clientes["con_producto"] / df_evolucion_clientes["total"] * 100, 2)

In [ ]:
df_evolucion_clientes.reset_index(inplace=True)

In [ ]:
df_evolucion_clientes

   pk_partition   total  con_producto  siguiente       dif  porcentaje
0    2019-05-28  442995        331588 329,607.00  1,981.00       74.85
1    2019-04-28  439627        329607 327,686.00  1,921.00       74.97
2    2019-03-28  436183        327686 324,558.00  3,128.00       75.13
3    2019-02-28  431727        324558 321,964.00  2,594.00       75.18
4    2019-01-28  426875        321964 318,036.00  3,928.00       75.42
5    2018-12-28  422481        318036 314,293.00  3,743.00       75.28
6    2018-11-28  416387        314293 305,425.00  8,868.00       75.48
7    2018-10-28  402300        305425 288,105.00 17,320.00       75.92
8    2018-09-28  375323        288105 271,784.00 16,321.00       76.76
9    2018-08-28  352922        271784 258,830.00 12,954.00       77.01
10   2018-07-28  339339        258830 247,399.00 11,431.00       76.27
11   2018-06-28  252104        247399 245,395.00  2,004.00       98.13
12   2018-05-28  249926        245395 242,917.00  2,478.00       98.19
13   2018-04-28  247463        242917 240,738.00  2,179.00       98.16
14   2018-03-28  245258        240738 238,022.00  2,716.00       98.16
15   2018-02-28  242521        238022 235,070.00  2,952.00       98.14
16   2018-01-28  239493        235070        nan       nan       98.15

Obtenemos el porcentaje de fidelización de nuestros clientes. cuá es el porcentaje partición a partición de clientes con producto. Nuestra conversión ha caído desde el inicio. Los meses de mayor concentración de venta también han sido los meses en los que se han captado en Base de datos nuevos registros, pero no todos han convertido en venta. De ahi la caída de conversión del 98% incial al 74,85% actual. Encontramos el mayor descenso en la tasa de conversión en julio de 2018. Lo vemos de manera gráfica.

In [ ]:
fig = px.line(df_evolucion_clientes, x="pk_partition", y="porcentaje", range_y=[50,100])
fig.show()

La entrada de julio 2018 de clientes en DB no fué efectiva en términos de conversión, bajando hasta el 76%.
La evolución posterior a julio es similar a la anterior, la entrada en DB parece convertir al ritmo anterior puesto que el 76 baja a 74 progresivamente, pero de forma escalonada y progresiva. 
Es posible que en las dos últimas particiones concentremos el mayo número de bajas.

<a id = "metrica5"></a>
# Activos Web
[Volver al índice](#toc)

In [ ]:
df_numero_clientes_activos = df_clientes[df_clientes["active_customer"] == 1].groupby(by=["pk_partition"])[["pk_cid"]].count().sort_values(by="pk_partition", ascending=False)

In [ ]:
df_evolucion_clientes_activos_web = pd.concat([df_numero_clientes, df_numero_clientes_activos], axis=1)
df_evolucion_clientes_activos_web.columns = ["total", "activos_web"]

In [ ]:
df_evolucion_clientes_activos_web

               total  activos_web
pk_partition
2019-05-28    442995       171568
2019-04-28    439627       169998
2019-03-28    436183       168185
2019-02-28    431727       165067
2019-01-28    426875       162545
2018-12-28    422481       159235
2018-11-28    416387       156321
2018-10-28    402300       151962
2018-09-28    375323       144787
2018-08-28    352922       136350
2018-07-28    339339       129287
2018-06-28    252104       121560
2018-05-28    249926       119066
2018-04-28    247463       116318
2018-03-28    245258       113806
2018-02-28    242521       111085
2018-01-28    239493       108211

In [ ]:
df_evolucion_clientes_activos_web["porcentaje"] = round(df_evolucion_clientes_activos_web["activos_web"] / df_evolucion_clientes_activos_web["total"] * 100, 2)

In [ ]:
df_evolucion_clientes_activos_web.reset_index(inplace=True)

In [ ]:
df_evolucion_clientes_activos_web

   pk_partition   total  activos_web  porcentaje
0    2019-05-28  442995       171568       38.73
1    2019-04-28  439627       169998       38.67
2    2019-03-28  436183       168185       38.56
3    2019-02-28  431727       165067       38.23
4    2019-01-28  426875       162545       38.08
5    2018-12-28  422481       159235       37.69
6    2018-11-28  416387       156321       37.54
7    2018-10-28  402300       151962       37.77
8    2018-09-28  375323       144787       38.58
9    2018-08-28  352922       136350       38.63
10   2018-07-28  339339       129287       38.10
11   2018-06-28  252104       121560       48.22
12   2018-05-28  249926       119066       47.64
13   2018-04-28  247463       116318       47.00
14   2018-03-28  245258       113806       46.40
15   2018-02-28  242521       111085       45.80
16   2018-01-28  239493       108211       45.18

In [ ]:
fig = px.line(df_evolucion_clientes_activos_web, x="pk_partition", y="porcentaje", range_y=[0,50],title='Evolución de navegación en la web')
fig.show()

Inflexión similar en cuanto a clientes activos (navegan en la web en los últimos 3 meses) en julio encontramos una caída del -10%. El comportamiento en cuanto al volumen % de clientes activos en web es similar al % de conversión, con una caída acusada en julio y normalizada a lo largo de los meses siguientes.

In [ ]:
anterior_evo_clientes = df_evolucion_clientes["total"].shift(-1)
df_evolucion_clientes["incremento_porcentual"] = (df_evolucion_clientes["total"] - anterior_evo_clientes) / anterior_evo_clientes * 100
anterior_evo_clientes_con_producto = df_evolucion_clientes["con_producto"].shift(-1)
df_evolucion_clientes["incremento_porcentual_con_producto"] = (df_evolucion_clientes["con_producto"] - anterior_evo_clientes_con_producto) / anterior_evo_clientes_con_producto * 100
df_evolucion_clientes

   pk_partition  ...  incremento_porcentual_con_producto
0    2019-05-28  ...                                0.60
1    2019-04-28  ...                                0.59
2    2019-03-28  ...                                0.96
3    2019-02-28  ...                                0.81
4    2019-01-28  ...                                1.24
5    2018-12-28  ...                                1.19
6    2018-11-28  ...                                2.90
7    2018-10-28  ...                                6.01
8    2018-09-28  ...                                6.01
9    2018-08-28  ...                                5.00
10   2018-07-28  ...                                4.62
11   2018-06-28  ...                                0.82
12   2018-05-28  ...                                1.02
13   2018-04-28  ...                                0.91
14   2018-03-28  ...                                1.14
15   2018-02-28  ...                                1.26
16   2018-01-28  ...                                 nan

[17 rows x 8 columns]

En crecimiento porcentuales de clientes en base de datos con y sin productos vemos esa diferenciación. Con un pico de crecimiento de pk_cid del 34% en julio de 2018, frente a un crecimiento del 4% de clientes con producto.
En los meses inmediatos observamos un crecimiento superior en clientes con producto, muy ligado al incremeto porcentual de nuevos pk_cid en base de datos.

In [ ]:
df_evolucion_clientes_T = df_evolucion_clientes.melt(id_vars="pk_partition", value_vars=["incremento_porcentual", "incremento_porcentual_con_producto"]).fillna(0)

In [ ]:
df_evolucion_clientes_T

   pk_partition                            variable  value
0    2019-05-28               incremento_porcentual   0.77
1    2019-04-28               incremento_porcentual   0.79
2    2019-03-28               incremento_porcentual   1.03
3    2019-02-28               incremento_porcentual   1.14
4    2019-01-28               incremento_porcentual   1.04
5    2018-12-28               incremento_porcentual   1.46
6    2018-11-28               incremento_porcentual   3.50
7    2018-10-28               incremento_porcentual   7.19
8    2018-09-28               incremento_porcentual   6.35
9    2018-08-28               incremento_porcentual   4.00
10   2018-07-28               incremento_porcentual  34.60
11   2018-06-28               incremento_porcentual   0.87
12   2018-05-28               incremento_porcentual   1.00
13   2018-04-28               incremento_porcentual   0.90
14   2018-03-28               incremento_porcentual   1.13
15   2018-02-28               incremento_porcentual   1.26
16   2018-01-28               incremento_porcentual   0.00
17   2019-05-28  incremento_porcentual_con_producto   0.60
18   2019-04-28  incremento_porcentual_con_producto   0.59
19   2019-03-28  incremento_porcentual_con_producto   0.96
20   2019-02-28  incremento_porcentual_con_producto   0.81
21   2019-01-28  incremento_porcentual_con_producto   1.24
22   2018-12-28  incremento_porcentual_con_producto   1.19
23   2018-11-28  incremento_porcentual_con_producto   2.90
24   2018-10-28  incremento_porcentual_con_producto   6.01
25   2018-09-28  incremento_porcentual_con_producto   6.01
26   2018-08-28  incremento_porcentual_con_producto   5.00
27   2018-07-28  incremento_porcentual_con_producto   4.62
28   2018-06-28  incremento_porcentual_con_producto   0.82
29   2018-05-28  incremento_porcentual_con_producto   1.02
30   2018-04-28  incremento_porcentual_con_producto   0.91
31   2018-03-28  incremento_porcentual_con_producto   1.14
32   2018-02-28  incremento_porcentual_con_producto   1.26
33   2018-01-28  incremento_porcentual_con_producto   0.00

In [ ]:
df_evolucion_clientes_T.to_pickle(path='gdrive/MyDrive/EASY_MONEY_NUCLIO/data/evolucion_clientes.pkl')

# Visión Gráfica de la Evolución de Clientes totales en Base de datos frente a los  clientes con uno o más productos activos.

In [ ]:

fig = px.line(df_evolucion_clientes_T, x="pk_partition", y="value", color="variable")
fig.show()

In [ ]:
anterior_evo_clientes_web = df_evolucion_clientes_activos_web["total"].shift(-1)
df_evolucion_clientes_activos_web["incremento_porcentual"] = (df_evolucion_clientes_activos_web["total"] - anterior_evo_clientes_web) / anterior_evo_clientes_web * 100
anterior_evo_clientes_activos_web = df_evolucion_clientes_activos_web["activos_web"].shift(-1)
df_evolucion_clientes_activos_web["incremento_porcentual_activos_web"] = (df_evolucion_clientes_activos_web["activos_web"] - anterior_evo_clientes_activos_web) / anterior_evo_clientes_activos_web * 100
df_evolucion_clientes_activos_web

   pk_partition  ...  incremento_porcentual_activos_web
0    2019-05-28  ...                               0.92
1    2019-04-28  ...                               1.08
2    2019-03-28  ...                               1.89
3    2019-02-28  ...                               1.55
4    2019-01-28  ...                               2.08
5    2018-12-28  ...                               1.86
6    2018-11-28  ...                               2.87
7    2018-10-28  ...                               4.96
8    2018-09-28  ...                               6.19
9    2018-08-28  ...                               5.46
10   2018-07-28  ...                               6.36
11   2018-06-28  ...                               2.09
12   2018-05-28  ...                               2.36
13   2018-04-28  ...                               2.21
14   2018-03-28  ...                               2.45
15   2018-02-28  ...                               2.66
16   2018-01-28  ...                                nan

[17 rows x 6 columns]

In [ ]:
df_evolucion_clientes_activos_web

   pk_partition  ...  incremento_porcentual_activos_web
0    2019-05-28  ...                               0.92
1    2019-04-28  ...                               1.08
2    2019-03-28  ...                               1.89
3    2019-02-28  ...                               1.55
4    2019-01-28  ...                               2.08
5    2018-12-28  ...                               1.86
6    2018-11-28  ...                               2.87
7    2018-10-28  ...                               4.96
8    2018-09-28  ...                               6.19
9    2018-08-28  ...                               5.46
10   2018-07-28  ...                               6.36
11   2018-06-28  ...                               2.09
12   2018-05-28  ...                               2.36
13   2018-04-28  ...                               2.21
14   2018-03-28  ...                               2.45
15   2018-02-28  ...                               2.66
16   2018-01-28  ...                                nan

[17 rows x 6 columns]

In [ ]:
df_evolucion_clientes_activos_web_T = df_evolucion_clientes_activos_web.melt(id_vars="pk_partition", value_vars=["incremento_porcentual", "incremento_porcentual_activos_web"]).fillna(0)

In [ ]:
df_evolucion_clientes_activos_web_T

   pk_partition                           variable  value
0    2019-05-28              incremento_porcentual   0.77
1    2019-04-28              incremento_porcentual   0.79
2    2019-03-28              incremento_porcentual   1.03
3    2019-02-28              incremento_porcentual   1.14
4    2019-01-28              incremento_porcentual   1.04
5    2018-12-28              incremento_porcentual   1.46
6    2018-11-28              incremento_porcentual   3.50
7    2018-10-28              incremento_porcentual   7.19
8    2018-09-28              incremento_porcentual   6.35
9    2018-08-28              incremento_porcentual   4.00
10   2018-07-28              incremento_porcentual  34.60
11   2018-06-28              incremento_porcentual   0.87
12   2018-05-28              incremento_porcentual   1.00
13   2018-04-28              incremento_porcentual   0.90
14   2018-03-28              incremento_porcentual   1.13
15   2018-02-28              incremento_porcentual   1.26
16   2018-01-28              incremento_porcentual   0.00
17   2019-05-28  incremento_porcentual_activos_web   0.92
18   2019-04-28  incremento_porcentual_activos_web   1.08
19   2019-03-28  incremento_porcentual_activos_web   1.89
20   2019-02-28  incremento_porcentual_activos_web   1.55
21   2019-01-28  incremento_porcentual_activos_web   2.08
22   2018-12-28  incremento_porcentual_activos_web   1.86
23   2018-11-28  incremento_porcentual_activos_web   2.87
24   2018-10-28  incremento_porcentual_activos_web   4.96
25   2018-09-28  incremento_porcentual_activos_web   6.19
26   2018-08-28  incremento_porcentual_activos_web   5.46
27   2018-07-28  incremento_porcentual_activos_web   6.36
28   2018-06-28  incremento_porcentual_activos_web   2.09
29   2018-05-28  incremento_porcentual_activos_web   2.36
30   2018-04-28  incremento_porcentual_activos_web   2.21
31   2018-03-28  incremento_porcentual_activos_web   2.45
32   2018-02-28  incremento_porcentual_activos_web   2.66
33   2018-01-28  incremento_porcentual_activos_web   0.00

In [ ]:
df_evolucion_clientes_activos_web_T.to_pickle(path='gdrive/MyDrive/EASY_MONEY_NUCLIO/data/evolucion_clientes_activos_web.pkl')

# Gráfico de Evolución de Clientes Activos en web vs total de clientes en Base de datos

In [ ]:

fig = px.line(df_evolucion_clientes_activos_web_T, x="pk_partition", y="value", color="variable")
fig.show()

<a id = "metrica6"></a>
# ¿Quién contrata? Clientes nuevos o ya existentes
[Volver al índice](#toc)

In [ ]:
df_antiguedad_clientes = df_total.copy(deep=True)

In [ ]:
df_antiguedad_clientes.loc[(df_antiguedad_clientes[products].sum(axis=1) >= 1) & (df_antiguedad_clientes["pk_partition"] == max(df_antiguedad_clientes["pk_partition"])), products + ["entry_date"]]

         short_term_deposit  loans  ...  em_acount  entry_date
5962923                   0      0  ...          1  2019-05-13
5667597                   0      0  ...          1  2018-10-24
5667586                   0      0  ...          1  2018-10-24
5667588                   0      0  ...          1  2018-10-24
5667590                   0      0  ...          0  2018-10-24
...                     ...    ...  ...        ...         ...
5815257                   0      0  ...          1  2015-10-25
5815260                   0      0  ...          1  2015-10-25
5815265                   0      0  ...          1  2015-10-25
5815261                   0      0  ...          1  2015-10-25
5815262                   0      0  ...          1  2015-10-25

[331588 rows x 16 columns]

In [ ]:
df_antiguedad_clientes[df_antiguedad_clientes[products].sum(axis=1) < 1].groupby(by="pk_cid")

<a id = "metrica7"></a>
#Clientes en Hibernación: 
Clientes que desde que han entrado en Base de datos no tienen ningún producto contratado. Nunca han tenido un 1.

[Volver al índice](#toc)

In [ ]:
df_target = df_total.copy(deep=True)

In [ ]:
#numero de clientes totales
len(df_target["pk_cid"].unique())

456373

In [ ]:
# HAY QUE TENER EN CUENTA SI ESTOS CLIENTES POSTERIORMENTE PASAN A TENER UN PRODUCTO
cid_sin_productos = df_target.loc[df_target[products].sum(axis=1) == 0, "pk_cid"].unique()
cid_con_productos = df_target.loc[df_target[products].sum(axis=1) >= 1, "pk_cid"].unique()

In [ ]:
print(len(cid_sin_productos), len(cid_con_productos))

150054 350384

In [ ]:
set_cid_sin_productos = set(cid_sin_productos)
interseccion = set_cid_sin_productos.intersection(cid_con_productos)
print(len(interseccion))

44065

In [ ]:
set_cid_sin_productos_cleaned = set_cid_sin_productos - interseccion
print(len(set_cid_sin_productos_cleaned))

105989

In [ ]:
df_target_cleaned = df_target[df_target["pk_cid"].isin(set_cid_sin_productos_cleaned)]

In [ ]:
numero_de_clientes_unicos_sin_producto = len(df_target_cleaned["pk_cid"].unique())
numero_de_clientes_unicos_con_producto = len(set(cid_con_productos))
print(numero_de_clientes_unicos_sin_producto)
print(numero_de_clientes_unicos_con_producto)

105989
350384

In [ ]:
print(numero_de_clientes_unicos_con_producto+numero_de_clientes_unicos_sin_producto)

456373

In [ ]:
print(df_target_cleaned)

          pk_cid pk_partition  short_term_deposit  ...  age  deceased     salary
5667595  1489274   2019-05-28                   0  ...   54         N        nan
5667599  1489270   2019-05-28                   0  ...   35         N        nan
5667602  1489374   2019-05-28                   0  ...   71         N        nan
5667559  1489264   2019-05-28                   0  ...   39         N        nan
5667570  1489233   2019-05-28                   0  ...   26         N        nan
...          ...          ...                 ...  ...  ...       ...        ...
159983   1169940   2018-01-28                   0  ...   21         N        nan
160542   1171370   2018-01-28                   0  ...   13         N 317,125.26
160538   1171354   2018-01-28                   0  ...   17         N 214,499.40
160537   1171350   2018-01-28                   0  ...    4         N 148,881.87
160460   1169677   2018-01-28                   0  ...    6         N 245,073.63

[969700 rows x 27 columns]

In [ ]:
print(f"En todo el histórico tenemos un total de {numero_de_clientes_unicos_sin_producto} clientes únicos que no han contratado nunca ningún producto")
print(f"En todo el histórico tenemos un total de {numero_de_clientes_unicos_con_producto} clientes únicos que han contratado algún producto")

En todo el histórico tenemos un total de 105989 clientes únicos que no han contratado nunca ningún producto
En todo el histórico tenemos un total de 350384 clientes únicos que han contratado algún producto